/* background: url("../images/Layout_v6.1-30.svg") no-repeat, linear-gradient(to right, #7c2327, #cd3a40, #c72128); */

/** Seção 1 **/
#fullpage #page1 {
	background: linear-gradient(to right, #7c2327, #cd3a40, #c72128);
}

/* Definição de cores das seções e sliders */
/** Seção 2 - Slider **/
#fullpage #page2 .slide:nth-child(1) {
	background: linear-gradient(to right, #c72128, #cd3a40, #f05a24);
}
#fullpage #page2 .slide:nth-child(2) {
	background: linear-gradient(to right, #f05a24, #f6921e);
}
#fullpage #page2 .slide:nth-child(3) {
	background: linear-gradient(to right, #f6921e, #f05a24, #c72128);
}
#fullpage #page2 .slide:nth-child(3) {
	background: url("../images/Layout_v6.1-30.svg") no-repeat, linear-gradient(to right, #f6921e, #f05a24, #c72128);
} /* End */

/* Definindo cor de fundo de cada categoria do slider */
/** Seção 3 - Slider **/
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(2) { /* Definindo cores da categoria */
	background: #EDA64D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(3) {
	background: #83AE5D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(4) {
	background: #7F6486;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(5) {
	background: #8BB42B;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(6) {
	background: #66A2C1;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(7) {
	background: #CC362D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(8) {
	background: #FF5507;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(9) {
	background: #956441;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(10) {
	background: #E5742D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(11) {
	background: #33855F;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(12) {
	background: #2C449D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(13) { /* END */
	background: #C06096;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(2):hover { /* Definindo Hover das cores da categoria */
	background: #EDA64D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(3) {
	background: #83AE5D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(4) {
	background: #7F6486;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(5) {
	background: #8BB42B;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(6) {
	background: #66A2C1;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(7) {
	background: #CC362D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(8) {
	background: #FF5507;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(9) {
	background: #956441;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(10) {
	background: #E5742D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(11) {
	background: #33855F;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(12) {
	background: #2C449D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(13) { /* END */
	background: #C06096;
}
#fullpage #page3 .slide:nth-child(2) {
	background: linear-gradient(to bottom, #c77c2c, #eda64d, #f2c081);
}
#fullpage #page3 .slide:nth-child(3) {
	background: linear-gradient(to bottom, #4a7990, #66a2c1, #9ec4d8);
}
#fullpage #page3 .slide:nth-child(4) {
	background: linear-gradient(to bottom, #7f6486, #7f6cb6, #aaa4ae);
}
#fullpage #page3 .slide:nth-child(5) {
	background: linear-gradient(to bottom, #33855f, #339f79, #67b89c);
}


#fullpage #page3 .slide:nth-child(1) .row div {
	border-right: 8px solid #e4dede;
	border-bottom: 8px solid #e4dede;
}
#fullpage #page3 .slide:nth-child(1) .row div p {
	text-align: center;
	color: #fff;
}
#fullpage #page3 .slide:nth-child(1) .row div:not(:nth-child(1)):hover {
	overflow: hidden;
    background-color: #fff;
    z-index: 999;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .7s cubic-bezier(.19,1,.22,1);
    -webkit-box-shadow: 0 1px 45px 0 rgba(0,0,0,.75);
    -moz-box-shadow: 0 1px 45px 0 rgba(0,0,0,.75);
    box-shadow: 0 1px 45px 0 rgba(0,0,0,.75);
    border: none;
    cursor: pointer;
}
#fullpage #page3 .slide:nth-child(1) .fp-tableCell {
	display: block;
	margin-top: 85px;
} 
#fullpage #page3 .slide:nth-child(1) {
	background: #e4dede;
} /* End */

/** Seção 4 - Slider **/
#fullpage #page4 .slide:nth-child(1) {
	background: linear-gradient(to bottom, #c77c2c, #eda64d, #f2c081);
}
#fullpage #page4 .slide:nth-child(2) {
	background: linear-gradient(to bottom, #4a7990, #66a2c1, #9ec4d8);
} /* End */

#menu {
	position: fixed;
	z-index: 9;
	right: 40px;
	top: 26px;
}

.guide {
	display: inline-block;
    padding: 9px 18px;
    background: rgba(255,255,255,.5);
    border-radius: 4px;
    position: absolute;
    right: 0;
    margin-right: 9%;
    margin-top: 30px;
    z-index: 2;
}

.buttonOff,
.buttonOn {
  font-size: 2em;
  cursor: pointer;
  top: 20px;
}

.buttonOff {
	float: right;
	top: 20px;
	right: 20px;
	position: relative;
	z-index: 5;
}
.buttonOn {
  left: 240px;
}

.hidden {
	display: none;
}

.fix {
	position: absolute;
}

.modalOn {
	display: block;
	height: 100%;
}

.page-title {
	color: #fff;
	font-size: 2.8em;
}

.textRight {
	text-align: right;
}

.saiba-mais {
	display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 3px solid #333333;
    padding: 0.9rem 3rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: transparent;
}

.fp-controlArrow {
	top: 90%;
}
.fp-controlArrow.fp-prev {
	border-width: 28.5px 25px 28.5px 0;
}
.fp-controlArrow.fp-next {
	border-width: 28.5px 0 28.5px 25px;
}

/** @@@@ RESPONSIVO @@@ **/

@media (max-width: 767px) {
  	#page3 .slide:nth-child(1) .container-fluid .row div.col-sm-2,
  	#page3 .slide:nth-child(1) .container .row div {
		height: 400px;
	}
	.guide {
		left: 15px;
		right: initial;
	}
	.page-title {
		font-size: 1.5em;
	}
}
@media (min-width: 768px) {
	#page2 .row {
		display: flex;
		align-items: center;
	}

  	#page3 .slide:nth-child(1) .container-fluid .row div,
  	#page3 .slide:nth-child(1) .container .row div {
		height: 130px;
	}
}
@media (min-width: 992px) {
  	#page3 .slide:nth-child(1) .container-fluid .row div,
  	#page3 .slide:nth-child(1) .container .row div {
	height: 170px;
	}
}
@media (min-width: 1200px) {
  	#page3 .slide:nth-child(1) .container-fluid .row div,
  	#page3 .slide:nth-child(1) .container .row div {
		height: 190px;
	}
}
@media (min-width: 1600px) {
  	#page3 .slide:nth-child(1) .container-fluid .row div,
  	#page3 .slide:nth-child(1) .container .row div {
		height: 270px;
	}
}