/* background: url("../images/Layout_v6.1-30.svg") no-repeat, linear-gradient(to right, #7c2327, #cd3a40, #c72128); */

/** Seção 1 **/
#fullpage #page1 {
	background: linear-gradient(to right, #7c2327, #cd3a40, #c72128);
}
#fullpage #page1 .col-sm-12:nth-child(1) {
	margin-bottom: 20px;
}

#fullpage #page1 .col-sm-12:nth-child(2) {
	padding-bottom: 40px;
}

/* Definição de cores das seções e sliders */
/** Seção 2 - Slider **/
#fullpage #page2 .slide:nth-child(1) {
	background: linear-gradient(to right, #c72128, #cd3a40, #f05a24);
}
#fullpage #page2 .slide:nth-child(2) {
	background: linear-gradient(to right, #f05a24, #f6921e);
}
#fullpage #page2 .slide:nth-child(3) {
	background: linear-gradient(to right, #f6921e, #f05a24, #c72128);
} /* End */

/* Definindo cor de fundo de cada categoria do slider */
/** Seção 3 - Slider **/
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(2) { /* Definindo cores da categoria */
	background: url("../images/page3/icons_svg/Icones_Prancheta 1.svg") #EDA64D no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(3) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 2.svg") #83AE5D no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(4) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 3.svg") #7F6486 no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(5) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 4.svg") #8BB42B no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(6) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 5.svg") #66A2C1 no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(7) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 6.svg") #CC362D no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(8) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 7.svg") #FF5507 no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(9) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 8.svg") #956441 no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(10) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 10.svg") #E5742D no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(11) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 11.svg") #33855F no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(12) {
	background: url("../images/page3/icons_svg/Icones_Prancheta 12.svg") #2C449D no-repeat center 20px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(13) { 
	background: url("../images/page3/icons_svg/Icones_Prancheta 9.svg") #C06096 no-repeat center 20px;
	background-size: 80%;
} /* END */

#fullpage #page3 .slide:nth-child(1) .row div:nth-child(2):hover { /* Definindo Hover das cores da categoria */
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 1.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(3):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 2.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(4):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 3.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(5):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 4.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(6):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 5.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(7):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 6.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(8):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 7.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(9):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 8.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(10):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 10.svg") #fff no-repeat center 10px;
	background-size: 80%;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(11):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 11.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(12):hover {
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 12.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(13):hover { /* END */
	background: url("../images/page3/icons_svg_hover/Icones_Prancheta 9.svg") #fff no-repeat;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(2):hover p { /* Definindo Hover das cores da categoria */
	color: #EDA64D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(3):hover p { /* Definindo Hover das cores da categoria */
	color: #83AE5D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(4):hover p { /* Definindo Hover das cores da categoria */
	color: #7F6486;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(5):hover p { /* Definindo Hover das cores da categoria */
	color: #8BB42B;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(6):hover p { /* Definindo Hover das cores da categoria */
	color: #66A2C1;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(7):hover p { /* Definindo Hover das cores da categoria */
	color: #CC362D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(8):hover p { /* Definindo Hover das cores da categoria */
	color: #FF5507;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(2):hover p { /* Definindo Hover das cores da categoria */
	color: #EDA64D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(9):hover p { /* Definindo Hover das cores da categoria */
	color: #956441;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(10):hover p { /* Definindo Hover das cores da categoria */
	color: #E5742D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(11):hover p { /* Definindo Hover das cores da categoria */
	color: #33855F;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(12):hover p { /* Definindo Hover das cores da categoria */
	color: #2C449D;
}
#fullpage #page3 .slide:nth-child(1) .row div:nth-child(13):hover p { /* Definindo Hover das cores da categoria */
	color: #C06096;
}
#fullpage #page3 .slide:nth-child(2) {
	background: linear-gradient(to bottom, #c77c2c, #eda64d, #f2c081);
}
#fullpage #page3 .slide:nth-child(3) {
	background: linear-gradient(to bottom, #33855f, #339f79, #67b89c);
}
#fullpage #page3 .slide:nth-child(4) {
	background: linear-gradient(to bottom, #7f6486, #7f6cb6, #aaa4ae);
}
#fullpage #page3 .slide:nth-child(5) {
	background: linear-gradient(to bottom, #4a7990, #66a2c1, #9ec4d8);
}


#fullpage #page3 .slide:nth-child(1) .row div {
	border-right: 8px solid #e4dede;
	border-bottom: 8px solid #e4dede;
}
#fullpage #page3 .slide:nth-child(1) .row div p {
	text-align: center;
	color: #fff;
	line-height: 0px;
	font-size: 1.2em;
	line-height: 1;
}
#fullpage #page3 .slide:nth-child(1) .row div:not(:nth-child(1)):hover {
	overflow: hidden;
    z-index: 999;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .7s cubic-bezier(.19,1,.22,1);
    -webkit-box-shadow: 0 1px 45px 0 rgba(0,0,0,.75);
    -moz-box-shadow: 0 1px 45px 0 rgba(0,0,0,.75);
    box-shadow: 0 1px 45px 0 rgba(0,0,0,.75);
    border: none;
    cursor: pointer;
}
#fullpage #page3 .slide:nth-child(1) .fp-tableCell {
	display: block;
	margin-top: 85px;
} 
#fullpage #page3 .slide:nth-child(1) {
	background: #e4dede;
} /* End */

/** Seção 4 - Slider **/
#fullpage #page4 .slide:nth-child(1) {
    -webkit-animation-name: background;
    -webkit-animation-duration: 40s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes background {
    0% {
        background: url("../images/page4/Imagens-background-32.png") no-repeat;
        background-size: 100%;
    }
    12% {
        background: url("../images/page4/Imagens-background-33.png") no-repeat;
        background-size: 100%;
    }

    24% {
        background: url("../images/page4/Imagens-background-34.png") no-repeat;
        background-size: 100%;
    }

    37% {
        background: url("../images/page4/Imagens-background-35.png") no-repeat;
        background-size: 100%;
    }

	49% {
        background: url("../images/page4/Imagens-background-36.png") no-repeat;
        background-size: 100%;
    }
    60% {
        background: url("../images/page4/Imagens-background-37.png") no-repeat;
        background-size: 100%;
    }

    75% {
        background: url("../images/page4/Imagens-background-38.png") no-repeat;
        background-size: 100%;
    }

    100% {
        background: url("../images/page4/Imagens-background-39.png") no-repeat;
        background-size: 100%;
    }
}
#fullpage #page4 .slide:nth-child(1) .fp-tableCell {
	display: block;
} /* End */

/** Seção 5 - Slider **/
#fullpage #page5 .slide:nth-child(1) {
	background: url("../images/page5/Imagens-15.png") no-repeat center, #D8DF21;
	background-size: 34%;
}
#fullpage #page5 .slide:nth-child(2) {
	background: #D8DF21;
} 
#fullpage #page5 .slide:nth-child(1) button.one,
#fullpage #page5 .slide:nth-child(2) button.one {
	background: #D8DF21;
	display: flex;
	margin: auto;
} /* End */

/** Seção 6 - Slider **/
#fullpage #page6 .slide:nth-child(1) {
	background: url("../images/page6/vagas.png") no-repeat, linear-gradient(to right, #D8DF21, #87D000);
	background-size: auto 100%;
}
#fullpage #page6 .slide:nth-child(2) {
	background: url("../images/page6/treinamento.png") no-repeat, linear-gradient(to right, #87D000, #29B423);
	background-size: auto 100%;
}
#fullpage #page6 .slide:nth-child(3) {
	background: url("../images/page6/exame.png") no-repeat, linear-gradient(to right, #29B423, #00D078);
	background-size: auto 100%;
}
#fullpage #page6 .slide:nth-child(4) {
	background: url("../images/page6/contrato.png") no-repeat, linear-gradient(to right, #00D078, #008D69);
	background-size: auto 100%;
}
#fullpage #page6 .slide:nth-child(5) {
	background: url("../images/page6/EPI.png") no-repeat, linear-gradient(to right, #008D69, #06A3A5);
	background-size: auto 100%;
}
#fullpage #page6 .slide:nth-child(6) {
	background: url("../images/page6/implantacao.png") no-repeat, linear-gradient(to right, #06A3A5, #06D0E5);
	background-size: auto 100%;
} /* End */

/** Seção 7 - Slider **/
#fullpage #page7 .slide:nth-child(1) {
	background: url("../images/page7/icons_svg/Icones-13.svg") no-repeat, #770c19;
}
#fullpage #page7 .slide:nth-child(2) {
	background: url("../images/page7/icons_svg/Icones-14.svg") no-repeat, #662d90;
}
#fullpage #page7 .slide:nth-child(3) {
	background: url("../images/page7/icons_svg/Icones-15.svg") no-repeat, #265b70;
}
#fullpage #page7 .slide:nth-child(4) {
	background: url("../images/page7/icons_svg/Icones-17.svg") no-repeat, #00a293;
}
#fullpage #page7 .slide:nth-child(5) {
	background: url("../images/page7/icons_svg/Icones-16.svg") no-repeat, #1f944b;
}
#fullpage #page7 .slide:nth-child(6) {
	background: url("../images/page7/icons_svg/Icones-18.svg") no-repeat, #e28307;
} 
#fullpage #page7 .slide:nth-child(3) .saiba-mais {
	border-color: #06f7ce;
	float: right;
	color: #06f7ce;
} /* End */

/** Modal 1 - Modal da Seção 5 **/
#modal1 .slide1 {
	background: url("../images/page5/modal/Imagens-19.svg") no-repeat, #f04950;
	background-blend-mode: hard-light;
}
#modal1 .slide2 {
	background: url("../images/page5/modal/Imagens-20.svg") no-repeat, #8073b2;
	background-blend-mode: hard-light;
}
#modal1 .slide3 {
	background: url("../images/page5/modal/Imagens-21.svg") no-repeat, #66a2c1;
	background-blend-mode: hard-light;
}
#modal1 .slide4 {
	background: url("../images/page5/modal/Imagens-22.svg") no-repeat, #7a9c6e;
	background-blend-mode: hard-light;
} 

#modal1 .page-title.sub-title {
	font-size: 2em;
} /** END **/

/** Modal da categoria administrativo - Modal da Seção 3 **/
#modal_administrativo,
#modal_administrativo .content,
#modal_administrativo a,
#modal_administrativo .modal-title {
	background: #85b5cd;
	color: #264758;
	text-decoration: none;
}
#modal_administrativo .modal-text {
	font-size: 1.8em;
}
#modal_administrativo ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_administrativo .saiba-mais-modal,
#modal_administrativo hr {
	border-color: #264758;
} /** END **/

/** Modal da categoria construção civil - Modal da Seção 3 **/
#modal_const_civil,
#modal_const_civil .content,
#modal_const_civil a,
#modal_const_civil .modal-title {
	background: #eda64d;
	color: #7b490f;
	text-decoration: none;
}
#modal_const_civil .modal-text {
	font-size: 1.8em;
}
#modal_const_civil ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_const_civil .saiba-mais-modal,
#modal_const_civil hr {
	border-color: #7b490f;
} /** END **/

/** Modal Consultores Especializados - Modal da Seção 5 **/
#modal_consultores_espec,
#modal_consultores_espec .content,
#modal_consultores_espec a,
#modal_consultores_espec .modal-title {
	background: #D8DF21;
	color: #4C5E1F;
	text-decoration: none;
}
#modal_consultores_espec .modal-text {
	font-size: 1.8em;
}
#modal_consultores_espec ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_consultores_espec .saiba-mais-modal,
#modal_consultores_espec hr {
	border-color: #4C5E1F;
} /** END **/

/** Modal Plataforma Online - Modal da Seção 5 **/
#modal_plataforma_on,
#modal_plataforma_on .content,
#modal_plataforma_on a,
#modal_plataforma_on .modal-title {
	background: #D8DF21;
	color: #4C5E1F;
	text-decoration: none;
}
#modal_plataforma_on .modal-text {
	font-size: 1.8em;
}
#modal_plataforma_on ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_plataforma_on .saiba-mais-modal,
#modal_plataforma_on hr {
	border-color: #4C5E1F;
} /** END **/

/** Modal Prêmios - Modal da Seção 5 **/
#modal_premios,
#modal_premios .content,
#modal_premios a,
#modal_premios .modal-title {
	background: #265b70;
	color: #a8bdc6;
	text-decoration: none;
}
#modal_premios .modal-text {
	font-size: 1.8em;
}
#modal_premios ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_premios .saiba-mais-modal,
#modal_premios hr {
	border-color: #a8bdc6;
}
#modal_premios .bg1 {
	background: #7496a4;
	border-top: 20px solid #517c8d;
	color: #265b70;
	font-size: 1.2em;
}
#modal_premios .bg2 {
	background: #97b0bb;
	color: #265b70;
	font-size: 1.2em;
}
#modal_premios .bg3 {
	background: #b9cbd1;
	color: #265b70;
	font-size: 1.2em;
}
#modal_premios .bg1 img,
#modal_premios .bg2 img,
#modal_premios .bg3 img {
	width: 60%;
	padding: 10px;
	float: right;
}
#modal_premios .bg1 .title,
#modal_premios .bg2 .title,
#modal_premios .bg3 .title {
	font-size: 1.3em;
	font-weight: 700;
} /** END **/

/** Modal da categoria logistica - Modal da Seção 3 **/
#modal_logistica,
#modal_logistica .content,
#modal_logistica a,
#modal_logistica .modal-title {
	background: #A58FAA;
	color: #201921;
	text-decoration: none;
}
#modal_logistica .modal-text {
	font-size: 1.8em;
}
#modal_logistica ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_logistica .saiba-mais-modal,
#modal_logistica hr {
	border-color: #201921;
} /** END **/

/** Modal da categoria petróleo e gás - Modal da Seção 3 **/
#modal_petroleo_gas,
#modal_petroleo_gas .content,
#modal_petroleo_gas a,
#modal_petroleo_gas .modal-title {
	background: #7DB199;
	color: #1F2C26;
	text-decoration: none;
}
#modal_petroleo_gas .modal-text {
	font-size: 1.8em;
}
#modal_petroleo_gas ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_petroleo_gas .saiba-mais-modal,
#modal_petroleo_gas hr {
	border-color: #1F2C26;
} /** END **/

/** Modal da categoria verejo - Modal da Seção 3 **/
#modal_varejo,
#modal_varejo .content,
#modal_varejo a,
#modal_varejo .modal-title {
	background: #83AE5D;
	color: #1F2C26;
	text-decoration: none;
}
#modal_varejo .modal-text {
	font-size: 1.8em;
}
#modal_varejo ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_varejo .saiba-mais-modal,
#modal_varejo hr {
	border-color: #1F2C26;
} /** END **/

/** Modal da categoria energia - Modal da Seção 3 **/
#modal_energia,
#modal_energia .content,
#modal_energia a,
#modal_energia .modal-title {
	background: #A2C355;
	color: #201921;
	text-decoration: none;
}
#modal_energia .modal-text {
	font-size: 1.8em;
}
#modal_energia ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_energia .saiba-mais-modal,
#modal_energia hr {
	border-color: #201921;
} /** END **/

/** Modal da categoria inspeção e ends - Modal da Seção 3 **/
#modal_inspecao_end,
#modal_inspecao_end .content,
#modal_inspecao_end a,
#modal_inspecao_end .modal-title {
	background: #E08681;
	color: #382120;
	text-decoration: none;
}
#modal_inspecao_end .modal-text {
	font-size: 1.8em;
}
#modal_inspecao_end ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_inspecao_end .saiba-mais-modal,
#modal_inspecao_end hr {
	border-color: #382120;
} /** END **/

/** Modal da categoria captação e seleção - Modal da Seção 3 **/
#modal_captacao_selecao,
#modal_captacao_selecao .content,
#modal_captacao_selecao a,
#modal_captacao_selecao .modal-title {
	background: #D8DF21;
	color: #4C5E1F;
	text-decoration: none;
}
#modal_captacao_selecao .modal-text {
	font-size: 1.8em;
}
#modal_captacao_selecao ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_captacao_selecao .saiba-mais-modal,
#modal_captacao_selecao hr {
	border-color: #4C5E1F;
} /** END **/

/** Modal da categoria captação e seleção - Modal da Seção 3 **/
#modal_eventos,
#modal_eventos .content,
#modal_eventos a,
#modal_eventos .modal-title {
	background: #FF7739;
	color: #382120;
	text-decoration: none;
}
#modal_eventos .modal-text {
	font-size: 1.8em;
}
#modal_eventos ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_eventos .saiba-mais-modal,
#modal_eventos hr {
	border-color: #382120;
} /** END **/

/** Modal da categoria Operador de maquina - Modal da Seção 3 **/
#modal_operador_maquina,
#modal_operador_maquina .content,
#modal_operador_maquina a,
#modal_operador_maquina .modal-title {
	background: #AA8367;
	color: #382120;
	text-decoration: none;
}
#modal_operador_maquina .modal-text {
	font-size: 1.8em;
}
#modal_operador_maquina ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_operador_maquina .saiba-mais-modal,
#modal_operador_maquina hr {
	border-color: #382120;
} /** END **/

/** Modal da categoria Hotelaria - Modal da Seção 3 **/
#modal_hotelaria,
#modal_hotelaria .content,
#modal_hotelaria a,
#modal_hotelaria .modal-title {
	background: #EA9057;
	color: #382120;
	text-decoration: none;
}
#modal_hotelaria .modal-text {
	font-size: 1.8em;
}
#modal_hotelaria ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_hotelaria .saiba-mais-modal,
#modal_hotelaria hr {
	border-color: #382120;
} /** END **/

/** Modal da categoria aeroporto - Modal da Seção 3 **/
#modal_aeroporto,
#modal_aeroporto .content,
#modal_aeroporto a,
#modal_aeroporto .modal-title {
	background: #808FC4;
	color: #16224F;
	text-decoration: none;
}
#modal_aeroporto .modal-text {
	font-size: 1.8em;
}
#modal_aeroporto ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_aeroporto .saiba-mais-modal,
#modal_aeroporto hr {
	border-color: #16224F;
} /** END **/

/** Modal da categoria restaurantes - Modal da Seção 3 **/
#modal_restaurantes,
#modal_restaurantes .content,
#modal_restaurantes a,
#modal_restaurantes .modal-title {
	background: #CD80AB;
	color: #33202B;
	text-decoration: none;
}
#modal_restaurantes .modal-text {
	font-size: 1.8em;
}
#modal_restaurantes ul {
	font-size: 1.8em;
	padding-left: 20px;
} 
#modal_restaurantes .saiba-mais-modal,
#modal_restaurantes hr {
	border-color: #33202B;
} /** END **/

.bg-modal {
	width: 100%;
}
.modal-title {
	text-align: center;
	text-shadow: initial !important;
}

#menu {
	position: fixed;
	z-index: 9;
	right: 40px;
	top: 26px;
}

.guide {
	display: inline-block;
    padding: 9px 18px;
    background: rgba(255,255,255,.5);
    border-radius: 4px;
    position: absolute;
    right: 0;
    margin-right: 9%;
    margin-top: 30px;
    z-index: 2;
    font-size: 1.1em;
}

.buttonOff,
.buttonOn {
  font-size: 2em;
  cursor: pointer;
  top: 20px;
}

.buttonOff {
	float: right;
	top: 26px;
	right: 40px;
	position: relative;
	z-index: 5;
}
.buttonOn {
  left: 240px;
}

.hidden {
	display: none;
}

.fix {
	position: absolute;
}

.modalOn {
	display: block;
	height: 100%;
}

.page-title {
	color: #fff;
	font-size: 2.8em;
	text-shadow: 2px 2px 6px rgba(51, 51, 51, 0.67);
}

.sub-page-title {
	font-size: 2em;
	color: #333;
}

.page-title.color {
	color: #333;
	text-shadow: initial;
}

.page-title.no-shadow {
	text-shadow: initial;
}

.textRight {
	text-align: right;
}

.sectionUp {
	margin-top: 45px;
}

.blueLink {
	color: #06f7ce;
}

.saiba-mais {
	display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 3px solid #fff;
    font-size: 1.3em;
    padding: 0.9rem 3rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: transparent;
    color: #fff;
}

#modalToSection .saiba-mais {
	padding: 0;
}

.saiba-mais-modal a {
	padding: 0.9rem 3rem;
}

.play-button {
	position: absolute;
    width: 100%;
    top: 50%;
}
.play-button img {
    width: 110px;
    margin: auto;
    display: flex;
    cursor: pointer;
}

video {
	cursor: pointer;
}

.slick-arrow {
	display: none !important;
}

.modal-menu div > ul {
	padding: 0;
}

.modal-menu ul {
	list-style: none;
}

.modal-menu .row:first-child {
	display: flex;
	align-items: flex-end;
}

.modal-menu .oque-somos {
	border-right: 2px solid #06f7ce;
}
.menu-arrow {
	display: none;
	border-width: 12.5px 0px 12.5px 16px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    position: absolute;
    top: 25%;
}

.modal-menu ul a:hover .menu-arrow {
	display: inline;
}
.modal-menu ul a:hover span {
	margin-left: 25px;
}

.modal-menu ul a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.modal-menu ul li {
	position: relative;
}

.fp-controlArrow {
	top: 90%;
}
.fp-controlArrow.fp-prev {
	border-width: 28.5px 25px 28.5px 0;
}
.fp-controlArrow.fp-next {
	border-width: 28.5px 0 28.5px 25px;
}
#fp-nav ul li a span {
	background: #fff;
}

.saiba-mais-modal {
	display: flex;
	margin: auto;
}

#modalToSection {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: blue;
	z-index: 9;
}

.modalClose {
    position: absolute;
    width: 258px;
    height: 80px;
    z-index: 5;
    right: 0;
}

.modalClose p {
	margin-top: 30px;
	margin-right: 50px;
	font-size: 1.9em;
	color: #fff;
	float: right;
}

.saiba-mais.btn-home {
	display: flex;
	margin: auto;
	color: #cd3a40;
	background: #fff;
	border-radius: 4px;
	padding: 4px 44px;
	font-size: 1.6em;
}

.btn-home.arrow {
	border-width: 28.5px 25px 0 28.5px;
	border-color: #fff transparent transparent transparent;
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: fixed;
    z-index: 4;
	bottom: 30px;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/** @@@@ RESPONSIVO @@@ **/

@media (max-width: 767px) {
  	#page3 .slide:nth-child(1) .container-fluid .row div.col-sm-2,
  	#page3 .slide:nth-child(1) .container .row div {
		height: 400px;
	}
	.guide {
		left: 15px;
		right: initial;
	}
	.page-title {
		font-size: 1.5em;
	}
	#page8 .page-title {
		text-shadow: 2px 2px 6px black;
		font-size: 2.5em;
	}
	#modal_administrativo .modal-text,
	#modal_administrativo ul {
		font-size: 1.2em;
	}
}
@media (min-width: 768px) {
	#page2 .row {
		display: flex;
		align-items: center;
	}

  	#page3 .slide:nth-child(1) .container-fluid .row div,
  	#page3 .slide:nth-child(1) .container .row div {
		height: 130px;
	}
}
@media (min-width: 992px) {
  	#page3 .slide:nth-child(1) .container-fluid .row div,
  	#page3 .slide:nth-child(1) .container .row div {
	height: 170px;
	}
}
@media (min-width: 1200px) {
  	#page3 .slide:nth-child(1) .container-fluid .row div,
  	#page3 .slide:nth-child(1) .container .row div {
		height: 190px;
	}
	#modalToSection .container-fluid {
		width: 1200px;
	}
}
@media (min-width: 1600px) {
  	#page3 .slide:nth-child(1) .container-fluid .row div,
  	#page3 .slide:nth-child(1) .container .row div {
		height: 270px;
	}
}